.video1{
    height: 50%;
    width: 100%;
}
.home-logo{
   width: 50%;
   margin-top: -60%;
   margin-left: 15%;
}
.carousel-item active{
    width: 100%;
    height: 50%;
}
.metro{
    width: 100%;
    height: 100%;
}

.mainheading{
    margin-top: -55%;

   
}

.foot{
    margin-top: 1px;
}
.w2{
    color: white;
    align-items: center;
}
.mm{
    font-size: 2.2rem;
    color: orange;
}
.subheading1{
    color: rgb(244, 244, 23);
    font-size: 1rem;
}
.subheading2{
    color: white;
    margin-top: -2%;
}
.btnown{
    border:  solid black 2px;
}
#btnown1{
    border: solid black 1px;
    padding: 4px;
    border-radius: 5px;
}
#btnown1:hover{
    color: white;
    background-color: black;
}